@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap");

@tailwind base; /* Preflight will be injected here */

h1 {
  @apply text-2xl;
  @apply text-hot-pink;
  @apply my-8;
}

h2 {
  @apply text-xl;
  @apply text-old-lavendar;
  @apply my-6;
}

h3 {
  @apply text-lg;
  @apply text-roman-silver;
  @apply my-4;
}

h4 {
  @apply text-base;
  @apply text-roman-silver;
  @apply my-2;
}

h5 {
  @apply text-sm;
  @apply text-roman-silver;
  @apply my-2;
}

h6 {
  @apply text-xs;
  @apply text-roman-silver;
  @apply my-2;
}

body {
  @apply bg-raisin-black;
  color: white;
}

a {
  @apply text-maximum-blue;
  text-decoration: none;
}

ol {
  @apply list-decimal;
  @apply text-old-lavendar;
  list-style-position: inside;
}

ul {
  @apply list-disc;
  @apply text-old-lavendar;
  list-style-position: inside;
}

table {
  @apply table-auto;
  border-collapse: collapse;
  width: 100%;
}

table,
th,
td {
  border: 1px solid;
  @apply border-roman-silver;
  @apply px-2;
  text-align: left;
}

@tailwind components;

@tailwind utilities;

.home-link {
  @apply text-mustard;
  grid-area: home-link;
}

.header {
  grid-area: site-header;
  @apply flex;
  @apply flex-row;
  @apply items-center;
  align-content: center;
  justify-content: space-between;
  @apply mt-8;
}

.nav-bar {
  grid-area: nav-bar;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.content {
  grid-area: site-content;
  /* 
   * Required for pre-tags without this the pre content would overflow the page
   * see [this example](https://stackoverflow.com/questions/45468633/pre-tag-causing-page-to-scroll-horizontally-in-css-grid#comment77899249_45468633)
   */
  min-width: 0px;
}

.footer {
  grid-area: site-footer;
  @apply text-xs;
  text-align: center;
}

.layout {
  width: 100%;
  align-content: stretch;
  display: grid;
  grid-template-columns: 25% auto 25%;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: ". site-header ." ". site-content ." ". site-footer .";
}

.link-blog-posts {
  grid-area: link-blog-posts;
}

.link-about {
  grid-area: link-about;
}

.link-projects {
  grid-area: link-projects;
}

.link-resume {
  grid-area: link-resume;
}

.link-social {
  grid-area: link-social;
}

@media (max-width: 1280px) {
  .layout {
    grid-template-columns: 5% auto 5%;
  }

  .header {
    @apply flex-col;
  }

  .nav-bar {
    grid-area: nav-bar;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto auto auto;
    justify-items: center;
    grid-template-areas: "link-blog  link-projects link-resume" "link-about link-social .";
  }
}

p {
  @apply my-6;
}

body {
  font-family: "IBM Plex Mono";
}

blockquote {
  @apply bg-roman-silver;
  @apply px-6;
  @apply text-powder-blue;
  @apply border-l-4;
}

.table-of-contents li {
  list-style: none;
  @apply ml-2;
}
.table-of-contents p {
  @apply m-0;
}

a.anchor.before > svg {
  fill: #40b4c4;
}