/*
 * Synthwave '84 Theme originally by Robb Owen [@Robb0wen] for Visual Studio Code
 * Demo: https://marc.dev/demo/prism-synthwave84
 *
 * Ported for PrismJS by Marc Backes [@themarcba]
 */

code[class*="language-"],
pre[class*="language-"] {
    color: #eb64b9;
    background: none;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    font-size: 1em;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;

    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;

}

/* Code blocks */
pre[class*="language-"] {
    padding: 1em;
    margin: .5em 0;
    overflow: auto;
    outline: 1px solid #716385;
}

/* Inline code */
:not(pre)>code[class*="language-"] {
    padding: .1em;
    border-radius: .3em;
    white-space: normal;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: #91889b;
}

.token.punctuation {
    color: #b4dce7;
}

.token.tag,
.token.attr-name,
.token.namespace,
.token.number,
.token.unit,
.token.hexcode,
.token.deleted {
    color: #40b4c4;
}

.token.property,
.token.selector {
    color: #74dfc4;
}

.token.function-name {
    color: #40b4c4;
}

.token.boolean,
.token.selector .token.id,
.token.function {
    color: #fdfdfd;
}

.token.class-name {
    color: #b4dce7;
}

.token.constant,
.token.symbol {
    color: #eb64b9;
}

.token.important,
.token.atrule,
.token.keyword,
.token.selector .token.class,
.token.builtin {
    color: #f4eee4;
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
    color: #ffe261;
}

.token.operator,
.token.entity,
.token.url {
    color: #74bfc4;
}

.token.important,
.token.bold {
    font-weight: bold;
}

.token.italic {
    font-style: italic;
}

.token.entity {
    cursor: help;
}

.token.inserted {
    color: #b381c5;
}
